# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [2]:
import pandas as pd
import numpy as np

In [3]:
customers = pd.read_csv("file1.csv")

In [4]:
#1.1 Identify the dimensions of the dataset by determinating the number of rows and columns it contains.
customers.shape

(4008, 11)

In [5]:
#1.2 Determine the data types of each columns and evaÃ±luate whether they are appropriate for the nature of the variable. 
# You should also provide suggestions for fixing any incorrect data types. 
customers.info()

#In my opinion:
# - Gender can be changed to Boolean (True for M and F for Female, for example)
# - Number of Open Complaints -> integer
# CLV -> float, it should represent revenue, not percentage of x.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

In [6]:
#To change the CLV from % to float, first we need to delete the %.
customers['Customer Lifetime Value'] = customers['Customer Lifetime Value'].str.rstrip('%').astype('float') / 100.0

In [8]:
# 1.3 Identify the number of unique values per column and determine which columns appear to be categorical.
# You should also describe the unique values for each categorical column and the range of values for numerical columns, and give your insights.
customers.nunique()

#Columns that appear to be categorical:
# Gender - categorical. However, the number of unique values is 5, which should be 2. This will need to be checked and clean before analyzing. 
# Education - categorical ordinal variable
# Policy type - categorical variable
# Vehicle class - categorical ordinal variable

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [9]:
#Let's fix the GENDER category. 
#First, I want to know the 5 distinct values. 
customers["GENDER"].unique()
#We can see that there is no consistency when determining the gender. Also, we can see NaNs. 
#Let's focus first on consistency issues. #To do so, we can create a function that helps us with this and return a boolean (True for Male and False for Female)

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [10]:
#Defining a function to clean the GENDER column:
def gender_consistency(genders):
    if genders == np.nan:
        return np.nan
    if genders == "M" or genders == "Male":
        return True
    if genders == "F" or genders == "Femal" or genders == "female":
        return False
    else:
        return np.nan

In [11]:
#Test the gender_consistency() function and convert the column to Boolean.
customers["GENDER"].apply(gender_consistency).astype('bool')

0        True
1       False
2       False
3        True
4        True
        ...
4003     True
4004     True
4005     True
4006     True
4007     True
Name: GENDER, Length: 4008, dtype: bool

In [13]:
#Now that we have dealth with gender consistency, it's time to focus on the following question: why are there so many NaNs for gender.
#What should be do with them?????
#Well, it depends on what is it for that you are going to use this column.
customers[customers["GENDER"].isnull()]

#We see that there are many rows that contain NaNs in all the columns. let's get rid of those now.

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
11,VQ65197,California,NaN,College,8197.1971,0.0,110.0,1/0/00,Personal Auto,SUV,528.000000
12,DP39365,California,NaN,Master,8798.7970,77026.0,110.0,1/2/00,Corporate Auto,Four-Door Car,472.029737
13,SJ95423,Arizona,NaN,High School or Below,8819.0189,99845.0,110.0,1/1/00,Corporate Auto,SUV,528.000000
14,IL66569,California,NaN,College,5384.4317,83689.0,70.0,1/2/00,Corporate Auto,Four-Door Car,307.139132
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
#We see that there are many rows that contain NaNs in all the columns. let's get rid of those now.
#Delete rows that have all values âââânull (display):
customers.dropna(axis=0, how="all", inplace=True)
customers.shape #Doing customers.shape we can see that now instead of having >4k entries, we have only 1071.

(1071, 11)

In [16]:
#Let's check again the GENDER column.
customers[customers["GENDER"].isnull()] #By doing so, we have narrowed the NaN values for GENDER to 117. 
#As an idea, when during the analysis process, a new category for NaNs can be created in order to avoid biased or underepresented analysis.

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
11,VQ65197,California,NaN,College,8197.1971,0.0,110.0,1/0/00,Personal Auto,SUV,528.000000
12,DP39365,California,NaN,Master,8798.7970,77026.0,110.0,1/2/00,Corporate Auto,Four-Door Car,472.029737
13,SJ95423,Arizona,NaN,High School or Below,8819.0189,99845.0,110.0,1/1/00,Corporate Auto,SUV,528.000000
14,IL66569,California,NaN,College,5384.4317,83689.0,70.0,1/2/00,Corporate Auto,Four-Door Car,307.139132
...,...,...,...,...,...,...,...,...,...,...,...
134,BU44523,AZ,NaN,High School or Below,8026.3796,0.0,74.0,1/0/00,Corporate Auto,Four-Door Car,532.800000
135,MS41162,AZ,NaN,High School or Below,4022.9635,0.0,117.0,1/0/00,Personal Auto,SUV,975.107098
136,PU25891,Oregon,NaN,High School or Below,9618.3109,80536.0,119.0,1/0/00,Special Auto,Sports Car,53.798708
138,SX26335,Oregon,NaN,College,9552.9269,97732.0,79.0,1/0/00,Personal Auto,Four-Door Car,289.912200
449,LN31673,Washington,NaN,College,11318.0898,38923.0,99.0,1/2/00,Personal Auto,Four-Door Car,115.728852

In [17]:
#No let's check the ST column: 
customers["ST"].unique() #By applying the .unique() method, we can observe 3 things:
# First: Cali should be California
#Second: AZ should be Arizona
#Third: WA should be Washington
#To solve this problem, we can create a function that replaces wrong entries for the correct ones.

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali',
       'AZ', 'WA'], dtype=object)

In [18]:
#Creating a function to clean the ST column:
def state_consistency(states):
    if states == "AZ":
        return states.replace("AZ", "Arizona")
    if states == "WA":
        return states.replace("WA", "Washington")
    if states == "Cali":
        return states.replace("Cali", "California")
    else:
        return np.nan

In [19]:
#Calling the state_consitency() function to fix the ST column:
customers["ST"].apply(state_consistency) #It worked!! It's fixed. We will think later how to handle NaNs.

0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
           ...
1066           NaN
1067    California
1068           NaN
1069           NaN
1070           NaN
Name: ST, Length: 1071, dtype: object

In [20]:
#Let's check the Education column:
customers["Education"].unique() #By doing this, we can see that this column should also be fixed to have the following categories:
#High School or Below, Bachelor, Master, Doctor

array(['Master', 'Bachelor', 'High School or Below', 'College',
       'Bachelors', 'Doctor'], dtype=object)

In [21]:
#Let's do it using a function again:
def education_consistency(title):
    if title == "Bachelors":
        return title.replace("Bachelors", "Bachelor")
    if title == "College":
        return title.replace("College", "Bachelor")
    else:
        return np.nan

In [22]:
#Lett's apply the education_consistency() function to the Education column:
customers["Education"].apply(education_consistency)

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
          ...
1066         NaN
1067         NaN
1068         NaN
1069         NaN
1070    Bachelor
Name: Education, Length: 1071, dtype: object

In [23]:
#Now, let's check the Vehicle class:
customers["Vehicle Class"].unique() #It is ok

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury SUV', 'Sports Car',
       'Luxury Car'], dtype=object)

In [22]:
# 1.4 Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of 
# the data (for numerical columns). You should also provide your conclusions based on these summary statistics.
statistical_sumary = customers.describe().round(2)
print(statistical_sumary)

#CLV: The std is HUGE. We can see it from the min and max values. We can also see that the 75% quartile is almost 9k.
#This indicates that there are few values with extremely high CLV that are pulling up the mean.
# Income: happens similar to the CLV.

       Customer Lifetime Value    Income  Monthly Premium Auto  \
count                  1068.00   1071.00               1071.00
mean                   7936.90  39295.70                193.23
std                    6434.78  30469.43               1601.19
min                    2004.35      0.00                 61.00
25%                    4034.08  14072.00                 68.00
50%                    5881.74  36234.00                 83.00
75%                    8962.87  64631.00                109.50
max                   58166.55  99960.00              35354.00

       Total Claim Amount
count             1071.00
mean               404.99
std                293.03
min                  0.38
25%                202.16
50%                354.73
75%                532.80
max               2893.24

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [31]:
# 2.1 Create a pandas Series object that contains the customer locations and their frequencies.
# Then, retrieve the top 5 less common locations in ascending order.
ST_counts = customers["ST"].value_counts().sort_values()
print(ST_counts)

ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Arizona       186
California    211
Oregon        320
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [35]:
policy_type_counts = customers["Policy Type"].value_counts()
print(policy_type_counts)
print(policy_type_counts.idxmax())

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64
Personal Auto

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [47]:
personal_auto = customers.loc[customers["Policy Type"] == "Personal Auto"]
print(personal_auto.loc[:,"Income"].mean().round(2))

corporate_auto = customers.loc[customers["Policy Type"] == "Corporate Auto"]
print(corporate_auto.loc[:,"Income"].mean().round(2))

#We can see that the mean difference between the 2 policy types is 3209. I do not think it is significant, but a t-test should be coducted to affirm that.

38180.7
41390.31

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [50]:
#4.1 Review again the statistics for total claim amount to gain an understanding of the data
customers["Total Claim Amount"].describe().round(2)

count    1071.00
mean      404.99
std       293.03
min         0.38
25%       202.16
50%       354.73
75%       532.80
max      2893.24
Name: Total Claim Amount, dtype: float64

In [59]:
#4.2 Create a Pandas DF object that contains information about customers ith a policy claim amount higher than the 75th percentile.
quantile_75_df = customers.loc[customers["Total Claim Amount"] >= customers["Total Claim Amount"].quantile(0.75)]
quantile_75_df

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
1,QZ44356,Arizona,F,Bachelor,6979.5359,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,12887.4317,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
17,OE15005,Cali,NaN,College,3945.2416,28855.0,101.0,1/0/00,Personal Auto,SUV,647.442031
23,TZ98966,Nevada,NaN,Bachelor,2450.1910,0.0,73.0,1/3/00,Corporate Auto,Four-Door Car,554.376763
26,US89481,California,NaN,Bachelor,3946.3721,0.0,111.0,1/0/00,Personal Auto,Four-Door Car,799.200000
...,...,...,...,...,...,...,...,...,...,...,...
1059,YG44474,Oregon,M,College,14014.7213,54193.0,117.0,1/0/00,Corporate Auto,SUV,720.752945
1061,RY92647,Cali,F,Bachelor,10506.7717,0.0,92.0,1/0/00,Personal Auto,Four-Door Car,546.524896
1068,GS98873,Arizona,F,Bachelor,3239.1247,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.600000
1069,CW49887,California,F,Master,4626.8011,79487.0,114.0,1/0/00,Special Auto,SUV,547.200000
1070,MY31220,California,F,College,8997.0402,54230.0,112.0,1/0/00,Personal Auto,Two-Door Car,537.600000

In [61]:
#4.3 Use DataFrame methods to calculate summary statistics about the high policy claim about data
quantile_75_df.describe().round(2)

,Customer Lifetime Value,Income,Monthly Premium Auto,Total Claim Amount
count,273.00,273.00,273.00,273.00
mean,9183.79,24106.55,163.00,774.01
std,6582.58,27542.72,613.65,291.30
min,2287.60,0.00,63.00,532.80
25%,4747.73,0.00,99.00,595.20
50%,7859.41,18846.00,113.00,673.34
75%,10656.88,44897.00,133.00,844.48
max,40224.01,99316.00,10202.00,2893.24